<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

    <meta name="keywords" content="" />

    <meta content="Create legal documents with AI technology" name="description">
    <meta content="LegalBot.io" name="author">

    <!-- CSRF TOKEN -->
    <meta name="csrf-token" content="oLOk1VO8zjdTK3CjusH7xubEA1uhwFhNI3HrRyvw">

    <!-- TITLE -->
    <title>AI-powered Legal Documentation Drafter</title>

    <script src="https://kit.fontawesome.com/f455c8d3e7.js" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SPEH606L05">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-SPEH606L05');
    </script>

    <!-- Hotjar Tracking Code for https://lawchatgpt.com -->
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 3662083,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    


    

    

    <!-- Animate -->
    <link href="https://lawchatgpt.com/css/animated.css" rel="stylesheet" />

    <!-- Bootstrap 5 -->
    <link href="https://lawchatgpt.com/plugins/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="https://lawchatgpt.com/css/icons.css" rel="stylesheet" />

    <!-- P-scrollbar -->
    <link href="https://lawchatgpt.com/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!-- Simplebar -->
    <link href="https://lawchatgpt.com/plugins/simplebar/css/simplebar.css" rel="stylesheet">

    <!-- Tippy -->
    <link href="https://lawchatgpt.com/plugins/tippy/scale-extreme.css" rel="stylesheet" />
    <link href="https://lawchatgpt.com/plugins/tippy/material.css" rel="stylesheet" />

    <!-- Toastr -->
    <link href="https://lawchatgpt.com/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <link href="https://lawchatgpt.com/plugins/awselect/awselect.min.css" rel="stylesheet" />

    <!-- Sweet Alert CSS -->
    <link href="https://lawchatgpt.com/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <!-- RichText CSS -->
    <link href="https://lawchatgpt.com/plugins/richtext/richtext.min.css" rel="stylesheet" />

    <!-- All Styles -->
    <link href="https://lawchatgpt.com/css/app.css" rel="stylesheet" />


    <script type="text/javascript" class="flasher-js">
        (function() {
            var rootScript = 'https://cdn.jsdelivr.net/npm/@flasher/flasher@1.3.1/dist/flasher.min.js';
            var FLASHER_FLASH_BAG_PLACE_HOLDER = {};
            var options = mergeOptions([], FLASHER_FLASH_BAG_PLACE_HOLDER);

            function mergeOptions(first, second) {
                return {
                    context: merge(first.context || {}, second.context || {}),
                    envelopes: merge(first.envelopes || [], second.envelopes || []),
                    options: merge(first.options || {}, second.options || {}),
                    scripts: merge(first.scripts || [], second.scripts || []),
                    styles: merge(first.styles || [], second.styles || []),
                };
            }

            function merge(first, second) {
                if (Array.isArray(first) && Array.isArray(second)) {
                    return first.concat(second).filter(function(item, index, array) {
                        return array.indexOf(item) === index;
                    });
                }
                return Object.assign({}, first, second);
            }

            function renderOptions(options) {
                if (!window.hasOwnProperty('flasher')) {
                    console.error('Flasher is not loaded');
                    return;
                }
                requestAnimationFrame(function() {
                    window.flasher.render(options);
                });
            }

            function render(options) {
                if ('loading' !== document.readyState) {
                    renderOptions(options);
                    return;
                }
                document.addEventListener('DOMContentLoaded', function() {
                    renderOptions(options);
                });
            }
            if (1 === document.querySelectorAll('script.flasher-js').length) {
                document.addEventListener('flasher:render', function(event) {
                    render(event.detail);
                });
            }
            if (window.hasOwnProperty('flasher') || !rootScript || document.querySelector('script[src="' + rootScript + '"]')) {
                render(options);
            } else {
                var tag = document.createElement('script');
                tag.setAttribute('src', rootScript);
                tag.setAttribute('type', 'text/javascript');
                tag.onload = function() {
                    render(options);
                };
                document.head.appendChild(tag);
            }
        })();
    </script>
</head>

<body class="app sidebar-mini ">
    

   
    

    <!-- PAGE -->
    <div class="page">
        
        <div class="page-main">

            <!-- SIDE MENU BAR -->
            <aside class="app-sidebar">
                
                <ul class="side-menu app-sidebar3">
                    <li class="side-item side-item-category mt-4 mb-3">LAWUP</li>
                    <li class="slide">
                        <a class="side-menu__item">
            <span class="side-menu__icon lead-3 fa-solid fa-chart-tree-map"></span>
            <span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item">
            <span class="side-menu__icon lead-3 fs-18 fa-solid fa-microchip-ai"></span>
            <span class="side-menu__label">Generate Legal AI</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#">
                <span class="side-menu__icon fa-solid fa-folder-bookmark"></span>
                <span class="side-menu__label">Documents</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li><a  class="slide-item">All Documents</a></li>

                        
                        </ul>
                    </li>
                    

                   


                    


                    <hr class="w-90 text-center m-auto">
                    <li class="side-item side-item-category mt-4 mb-3">Account</li>
                    <li class="slide">
                        <a class="side-menu__item" href="#">
            <span class="side-menu__icon lead-3 fa-solid fa-box-circle-check"></span>
            <span class="side-menu__label">Subscription Plans</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" href="#">
                <span class="side-menu__icon lead-3 fa-solid fa-people-arrows"></span>
                <span class="side-menu__label">Team Members</span></a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item" href="#">
            <span class="side-menu__icon lead-3 fa-solid fa-id-badge"></span>
            <span class="side-menu__label">My Account</span></a>
                    </li>
                   

                    <hr class="w-90 text-center m-auto">
                    
                    <li class="side-item side-item-category mt-4 mb-2">Plan: <span class="text-primary">Free Trial</span> - <a href="#" class="text-yellow upgrade-action-button"> Upgrade Now</a> </li>
                    <li class="side-item side-item-category mt-0 mb-2">Next Renewal: No Renewal </li>
                    <div class="side-progress-position">
                        <div class="inline-flex w-100">
                            
                        </div>
                    </div>
                </ul>
            </aside>

            
            <!-- END SIDE MENU BAR -->
            <!-- APP CONTENT -->
            <div class="app-content main-content">

                <div class="side-app">

                    <!-- TOP MENU BAR -->
                    <div class="app-header header">
                        <div class="container-fluid">
                            <div class="d-flex">
                                
                                <div class="app-sidebar__toggle nav-link icon" data-toggle="sidebar">
                                    <a class="open-toggle" href="#">
                    <span class="fa fa-align-left header-icon"></span>
                </a>
                                </div>

                              
                              
                                <!-- MENU BAR -->
                                <div class="d-flex order-lg-2 ml-auto">
                                    <div id="form-group">
                                        
                                    </div>
                                    <div class="dropdown header-notify">
                                        <a class="nav-link icon" data-bs-toggle="dropdown">                        
                                                                                                            <span class="header-icon fa-solid fa-bell pr-3"></span>                            
                                                                
                                                                        </a>
                                        

                                                                        
                                    </div>

                                   

                                   
                                    
                                    <div class="dropdown profile-dropdown">
                                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                        <span class="float-right">
                            
                        </span>
                    </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                            <div class="text-center pt-2">
                                                
                                               
                                                <div class="dropdown-divider mt-3"></div>
                                            </div>
                                            <a class="dropdown-item d-flex" href="#">
                            <span class="profile-icon fa-solid fa-box-circle-check"></span>
                            <div class="fs-12">Pricing Plans</div>
                       
                            <div class="fs-12">Change Password</div>
                        </a>
                                            <a class="dropdown-item d-flex" href="https://lawchatgpt.com/logout" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();"> 
                            <span class="profile-icon fa-solid fa-right-from-bracket"></span>          
                            <div class="fs-12">Logout</div>                            
                        </a>
                                            <form id="logout-form" action="https://lawchatgpt.com/logout" method="POST" class="d-none">
                                                <input type="hidden" name="_token" value="oLOk1VO8zjdTK3CjusH7xubEA1uhwFhNI3HrRyvw"> </form>
                                        </div>
                                    </div>
                                </div>  
                                <!-- END MENU BAR -->
                            </div>
                        </div>
                    </div>
                    <!-- END TOP MENU BAR -->





                    <form id="openai-form" action="" method="post" enctype="multipart/form-data" class="mt-24">
                        <input type="hidden" name="_token" value="oLOk1VO8zjdTK3CjusH7xubEA1uhwFhNI3HrRyvw">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                <div class="card border-0" id="template-input">
                                    <div class="card-body p-5 pb-0">

                                        <div class="row">
                                            <div class="template-view">
                                                <div class="template-icon mb-2 d-flex">
                                                    <div>
                                                        <i class="fa-regular fa-pickaxe video-icon video-icon video-icon video-icon video-icon video-icon"></i>
                                                    </div>
                                                    <div>
                                                        <h6 class="mt-1 ml-3 fs-16 number-font">Draft Legal Document

                                                            <span class="fs-8 btn btn-pro ml-2"><i class="fa-sharp fa-solid fa-crown mr-2"></i>Pro </span>

                                                        </h6>
                                                    </div>
                                                    <div>
                                                        <a id="QZF6A" data-tippy-content="Select as favorite" onclick="favoriteStatus(this.id)"><i id="QZF6A-icon" class=" fa-regular fa-star  star"></i></a>
                                                    </div>
                                                </div>
                                                <div class="template-info">
                                                    <p class="fs-12 text-muted mb-4">Let AI draft your Legal Document</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Language</h6>
                                                    <select id="language" name="language" data-placeholder="Select input language">		
																			<option>English</option>
																			<option>Hindi</option>
																			<option>Urdu</option>
																			<option>Marathi</option>
																			<option>Punjabi</option>
																			<option>Bengali</option>
																			<option>Tamil</option>
																			<option>Telgu</option>
																			<option>Kashmiri</option>
																			<option>Assamese</option>
                                                                            <option>Gujrati</option>
                                                                            <option>Malayalam</option>
                                                                            <option>Nepali</option>
                                                                            <option>Rajasthani</option>
                                                                            <option>Odia</option>
                                                                            <option>Kannada</option>
                                                                            <option>Mizo</option>
																		
								</select>

                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">What is the complaint about?</h6>
                                                    <div class="form-group">
                                                        <textarea type="text" rows=5 class="form-control" id="input-field-1" name="input-field-1" placeholder="e.g. a breach of contract dispute between a software development company as the plaintiff and XYC Corporation, as the defendant"></textarea>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Enter the facts of the claim</h6>
                                                    <div class="form-group">
                                                        <textarea type="text" rows=5 class="form-control" id="input-field-2" name="input-field-2" placeholder="e.g. the plaintiff had entered into a contract with the defendant for the development of a custom software application. The defendant failed to make payments"></textarea>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Enter the loss and damage claimed</h6>
                                                    <div class="form-group">
                                                        <textarea type="text" rows=5 class="form-control" id="input-field-3" name="input-field-3" placeholder="e.g. the plaintiff suffered financial losses, damage to its reputation, and lost business opportunities"></textarea>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">What relief are you seeking?</h6>
                                                    <div class="form-group">
                                                        <textarea type="text" rows=5 class="form-control" id="input-field-4" name="input-field-4" placeholder="e.g. Monetary Damages, Injunctive Relief, Specific Performance, Declaratory Judgment, Restitution, Equitable Relief"></textarea>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">What is the Jurisdiction?</h6>
                                                    <div class="form-group">
                                                        <textarea type="text" rows=5 class="form-control" id="input-field-5" name="input-field-5" placeholder="e.g. Dehli courts"></textarea>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div id="form-group">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Creativity <i class="ml-1 text-dark fs-12 fa-solid fa-circle-info" data-tippy-content="Increase or decrease the creativity level to get various results"></i></h6>
                                                    <select id="creativity" name="creativity" data-placeholder="Select creativity level">
										<option value=0  selected >Low</option>
										<option value=0.5 > Average</option>																															
										<option value=1 > High</option>																															
									</select>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div id="form-group">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Number of Results <i class="ml-1 text-dark fs-12 fa-solid fa-circle-info" data-tippy-content="Maximum supported results is 5"></i></h6>
                                                    <select id="max-results" name="max_results" data-placeholder="Set max number of results">
									<option value=1 selected>1</option>
									<option value=2>2</option>																															
									<option value=3>3</option>																															
									<option value=4>4</option>																															
									<option value=5>5</option>																															
								</select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="input-box">
                                                    <h6 class="fs-11 mb-2 font-weight-semibold">Max Result Length <i class="ml-1 text-dark fs-12 fa-solid fa-circle-info" data-tippy-content="Maximum words for each generated text result. Maximum allowed length is 4000"></i></h6>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control " id="words" name="words" placeholder="e.g. 100" max="4000" value="4000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer border-0 text-center p-0">
                                            <div class="w-100 pt-2 pb-2">
                                                <div class="text-center">
                                                    <span id="processing" class="processing-image"><img src="https://lawchatgpt.com/img/svgs/upgrade.svg" alt=""></span>
                                                    <button type="submit" name="submit" class="btn btn-primary  pl-7 pr-7 fs-11 pt-2 pb-2" id="generate">Generate Text</button>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="template" value="QZF6A">

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12">
                                <div class="card border-0" id="template-output">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="input-box mb-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control " id="document" name="document" value="New Document">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <select id="project" name="project" data-placeholder="Select Workbook Name">	
									<option value="all"> All Workbooks</option>
																				
								</select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="d-flex" id="template-buttons-group">
                                                    <div>
                                                        <a id="export-word" class="template-button mr-2" onclick="exportWord();" href="#"><i class="fa-solid fa-file-word table-action-buttons table-action-buttons-big view-action-button" data-tippy-content="Export as Word Document"></i></a>
                                                    </div>
                                                    <div>
                                                        <a id="export-pdf" class="template-button mr-2" onclick="exportPDF();" href="#"><i class="fa-solid fa-file-pdf table-action-buttons table-action-buttons-big view-action-button" data-tippy-content="Export as PDF Document"></i></a>
                                                    </div>
                                                    <div>
                                                        <a id="export-txt" class="template-button mr-2" onclick="exportTXT();" href="#"><i class="fa-solid fa-file-lines table-action-buttons table-action-buttons-big view-action-button" data-tippy-content="Export as Text Document"></i></a>
                                                    </div>
                                                    <div>
                                                        <a id="copy-button" class="template-button mr-2" onclick="copyText();" href="#"><i class="fa-solid fa-copy table-action-buttons table-action-buttons-big edit-action-button" data-tippy-content="Copy Text"></i></a>
                                                    </div>
                                                    <div>
                                                        <a id="save-button" class="template-button" onclick="return saveText(this);" href="#"><i class="fa-solid fa-floppy-disk-pen table-action-buttons table-action-buttons-big delete-action-button" data-tippy-content="Save Document"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <div id="template-textarea">
                                                <div class="form-control" name="content" rows="12" id="richtext"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
            <!-- END APP CONTENT -->

            <!-- FOOTER -->
            


        </div>
        
    </div>
    
    <!-- END PAGE -->

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Jquery -->
    <script src="https://lawchatgpt.com/plugins/jquery/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap 5 -->
    <script src="https://lawchatgpt.com/plugins/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>

    <!-- Sidemenu -->
    <script src="https://lawchatgpt.com/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll -->
    <script src="https://lawchatgpt.com/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="https://lawchatgpt.com/plugins/p-scrollbar/p-scroll.js"></script>

    <script src="https://lawchatgpt.com/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="https://lawchatgpt.com/plugins/character-count/jquery-simple-txt-counter.min.js"></script>
    <script src="https://lawchatgpt.com/js/export.js"></script>
    <!-- RichText JS -->
    <script src="https://lawchatgpt.com/plugins/richtext/jquery.richtext.min.js"></script>
    <script src="https://lawchatgpt.com/plugins/pdf/html2canvas.min.js"></script>
    <script src="https://lawchatgpt.com/plugins/pdf/jspdf.umd.min.js"></script>
    <script type="text/javascript">
        $(function() {

            "use strict";

            $('#richtext').richText({

                // text formatting
                bold: true,
                italic: true,
                underline: true,

                // text alignment
                leftAlign: true,
                centerAlign: true,
                rightAlign: true,
                justify: true,

                // lists
                ol: true,
                ul: true,

                // title
                heading: true,

                // fonts
                fonts: true,
                fontList: [
                    "Arial",
                    "Arial Black",
                    "Comic Sans MS",
                    "Courier New",
                    "Geneva",
                    "Georgia",
                    "Helvetica",
                    "Impact",
                    "Lucida Console",
                    "Tahoma",
                    "Times New Roman",
                    "Verdana"
                ],
                fontColor: true,
                fontSize: true,

                // uploads
                imageUpload: false,
                fileUpload: false,

                // media
                videoEmbed: false,

                // link
                urls: true,

                // tables
                table: true,

                // code
                removeStyles: false,
                code: false,

                // colors
                colors: [],

                // dropdowns
                fileHTML: '',
                imageHTML: '',

                // translations
                translations: {
                    'title': 'Title',
                    'white': 'White',
                    'black': 'Black',
                    'brown': 'Brown',
                    'beige': 'Beige',
                    'darkBlue': 'Dark Blue',
                    'blue': 'Blue',
                    'lightBlue': 'Light Blue',
                    'darkRed': 'Dark Red',
                    'red': 'Red',
                    'darkGreen': 'Dark Green',
                    'green': 'Green',
                    'purple': 'Purple',
                    'darkTurquois': 'Dark Turquois',
                    'turquois': 'Turquois',
                    'darkOrange': 'Dark Orange',
                    'orange': 'Orange',
                    'yellow': 'Yellow',
                    'imageURL': 'Image URL',
                    'fileURL': 'File URL',
                    'linkText': 'Link text',
                    'url': 'URL',
                    'size': 'Size',
                    'responsive': 'Responsive',
                    'text': 'Text',
                    'openIn': 'Open in',
                    'sameTab': 'Same tab',
                    'newTab': 'New tab',
                    'align': 'Align',
                    'left': 'Left',
                    'center': 'Center',
                    'right': 'Right',
                    'rows': 'Rows',
                    'columns': 'Columns',
                    'add': 'Add',
                    'pleaseEnterURL': 'Please enter an URL',
                    'videoURLnotSupported': 'Video URL not supported',
                    'pleaseSelectImage': 'Please select an image',
                    'pleaseSelectFile': 'Please select a file',
                    'bold': 'Bold',
                    'italic': 'Italic',
                    'underline': 'Underline',
                    'alignLeft': 'Align left',
                    'alignCenter': 'Align centered',
                    'alignRight': 'Align right',
                    'addOrderedList': 'Add ordered list',
                    'addUnorderedList': 'Add unordered list',
                    'addHeading': 'Add Heading/title',
                    'addFont': 'Add font',
                    'addFontColor': 'Add font color',
                    'addFontSize': 'Add font size',
                    'addImage': 'Add image',
                    'addVideo': 'Add video',
                    'addFile': 'Add file',
                    'addURL': 'Add URL',
                    'addTable': 'Add table',
                    'removeStyles': 'Remove styles',
                    'code': 'Show HTML code',
                    'undo': 'Undo',
                    'redo': 'Redo',
                    'close': 'Close'
                },

                // privacy
                youtubeCookies: false,

                // developer settings
                useSingleQuotes: false,
                height: 0,
                heightPercentage: 0,
                id: "",
                class: "",
                useParagraph: true,
                maxlength: 0,
                callback: undefined,
                useTabForNext: false
            });


            // SUBMIT FORM
            $('#openai-form').on('submit', function(e) {

                e.preventDefault();

                let form = $(this);

                $.ajax({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    method: 'POST',
                    url: 'customGenerate',
                    data: form.serialize(),
                    beforeSend: function() {
                        $('#generate').html('');
                        $('#generate').prop('disabled', true);
                        $('#processing').show().clone().appendTo('#generate');
                        $('#processing').hide();
                    },
                    success: function(data) {

                        if (data['status'] == 'error') {

                            Swal.fire('Text Generation Error', data['message'], 'warning');
                            $('#generate').prop('disabled', false);
                            $('#processing', '#generate').empty().remove();
                            $('#processing').hide();
                            $('#generate').html('Generate Text');

                        } else {

                            const eventSource = new EventSource("/user/templates/original-template/process?content_id=" + data.id + "&max_results=" + data.max_results + "&max_words=" + data.max_words + "&temperature=" + data.temperature);
                            const response = document.getElementById('richtext');
                            let id = document.querySelector('.richText-editor').id;
                            let editor = document.getElementById(id);
                            let save = document.getElementById('save-button');
                            save.setAttribute('target', data['id']);

                            eventSource.onmessage = function(e) {

                                if (e.data == '[DONE]') {
                                    eventSource.close();
                                    editor.innerHTML += '<br><br>';
                                    $('#generate').prop('disabled', false);
                                    $('#processing', '#generate').empty().remove();
                                    $('#processing').hide();
                                    $('#generate').html('Generate Text');

                                } else {

                                    let stream = e.data
                                    if (stream && stream !== '[DONE]') {
                                        editor.innerHTML += stream;
                                    }

                                    editor.scrollTop += 100;
                                }

                            };
                            eventSource.onerror = function(e) {
                                console.log(e);
                            };
                        }
                    },

                    error: function(data) {
                        $('#generate').prop('disabled', false);
                        $('#generate').html('Generate Text');
                        console.log(data)
                    }
                });
            });
        });

        function nl2br(str, is_xhtml) {
            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }

        function favoriteStatus(id) {

            let icon, card;
            let formData = new FormData();
            formData.append("id", id);

            $.ajax({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                method: 'post',
                url: 'favorite',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {

                    if (data['status'] == 'success') {
                        if (data['set']) {
                            Swal.fire('Template Removed from Favorites', 'Selected template has been successfully removed from favorites', 'success');
                            icon = document.getElementById(id + '-icon');
                            icon.classList.remove("fa-solid");
                            icon.classList.remove("fa-stars");
                            icon.classList.add("fa-regular");
                            icon.classList.add("fa-star");
                        } else {
                            Swal.fire('Template Added to Favorites', 'Selected template has been successfully added to favorites', 'success');
                            icon = document.getElementById(id + '-icon');
                            icon.classList.remove("fa-regular");
                            icon.classList.remove("fa-star");
                            icon.classList.add("fa-solid");
                            icon.classList.add("fa-stars");
                        }

                    } else {
                        Swal.fire('Favorite Setting Issue', 'There as an issue with setting favorite status for this template', 'warning');
                    }
                },
                error: function(data) {
                    Swal.fire('Oops...', 'Something went wrong!', 'error')
                }
            })
        }

        function animateValue(id, start, end, duration) {
            if (start === end) return;
            var range = end - start;
            var current = start;
            var increment = end > start ? 1 : -1;
            var stepTime = Math.abs(Math.floor(duration / range));
            var obj = document.getElementById(id);
            var timer = setInterval(function() {
                current += increment;
                obj.innerHTML = current;
                if (current == end) {
                    clearInterval(timer);
                }
            }, stepTime);
        }

        function changeTemplate(value) {
            let url = 'https://lawchatgpt.com/user/templates/' + value;
            window.location.href = url;
        }

        function saveText(event) {

            //let textarea = document.querySelector('.richText-editor').textContent;
            let textarea = document.querySelector('.richText-editor').innerHTML;
            let title = document.getElementById('document').value;
            let workbook = document.getElementById('project').value;


            if (!event.target) {
                toastr.warning('You will need to generate AI text first before saving your changes');
            } else {
                $.ajax({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    method: 'POST',
                    url: '/user/templates/save',
                    data: {
                        'id': event.target,
                        'text': textarea,
                        'title': title,
                        'workbook': workbook
                    },
                    success: function(data) {
                        if (data['status'] == 'success') {
                            toastr.success('Changes have been successfully saved');
                        } else {
                            toastr.warning('There was an issue while saving your changes');
                        }
                    },
                    error: function(data) {
                        toastr.warning('There was an issue while saving your changes');
                    }
                });

                return false;
            }

        }
    </script>

    <!-- Simplebar JS -->
    <script src="https://lawchatgpt.com/plugins/simplebar/js/simplebar.min.js"></script>

    <!-- Tippy JS -->
    <script src="https://lawchatgpt.com/plugins/tippy/popper.min.js"></script>
    <script src="https://lawchatgpt.com/plugins/tippy/tippy-bundle.umd.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://lawchatgpt.com/plugins/toastr/toastr.min.js"></script>

    <!-- Awselect JS -->
    <script src="https://lawchatgpt.com/plugins/awselect/awselect-custom.js"></script>
    <script src="https://lawchatgpt.com/js/awselect.js"></script>

    <!-- Custom js-->
    <script src="https://lawchatgpt.com/js/custom.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SPEH606L05"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-SPEH606L05');
    </script>

    <!-- Mark as Read JS-->
    <script type="text/javascript">
        function sendMarkRequest(id = null) {
            return $.ajax("https://lawchatgpt.com/user/notifications/mark-as-read", {
                method: 'POST',
                data: {
                    "_token": "oLOk1VO8zjdTK3CjusH7xubEA1uhwFhNI3HrRyvw",
                    id
                }
            });
        }

        function changeTemplate(value) {
            let url = 'https://lawchatgpt.com/user/templates/' + value;
            window.location.href = url;
        }

        var totalNotifications;
        var totalNotifications_a;
        var totalNotifications_b;

        $(function() {

            $('.mark-as-read').on('click', function() {
                let request = sendMarkRequest($(this).data('id'));
                request.done(() => {
                    $(this).parents('div.dropdown-item').remove();
                });

                document.getElementById("total-notifications").innerHTML = --totalNotifications;
                document.getElementById("total-notifications-a").innerHTML = --totalNotifications_a;
                document.getElementById("total-notifications-b").innerHTML = --totalNotifications_b;
            });

            $('#mark-all').on('click', function() {
                let request = sendMarkRequest();
                request.done(() => {
                    $('div.notify-menu').remove();
                })

                document.getElementById("total-notifications").innerHTML = 0;
            });
        });

        $(document).ready(function() {

            if (document.getElementById("total-notifications")) {
                totalNotifications = "0";
                document.getElementById("total-notifications").innerHTML = totalNotifications;
            }
            if (document.getElementById("total-notifications-a")) {
                totalNotifications_a = "0";
                document.getElementById("total-notifications-a").innerHTML = totalNotifications_a;
            }
            if (document.getElementById("total-notifications-b")) {
                totalNotifications_b = "0";
                document.getElementById("total-notifications-b").innerHTML = totalNotifications_b;
            }

        });

        tippy('[data-tippy-content]', {
            animation: 'scale-extreme',
            theme: 'material',
        });

        toastr.options.showMethod = 'slideDown';
        toastr.options.hideMethod = 'slideUp';
        toastr.options.progressBar = true;

        document.querySelector(".btn-theme-toggle > span").classList.add("fa-moon-stars");
        var myCookie = (document.cookie.match(/^(?:.*;)?\s*theme\s*=\s*([^;]+)(?:.*)?$/) || [, null])[1];
        if (myCookie == 'dark') {
            document.querySelector(".btn-theme-toggle > span").classList.remove("fa-moon-stars");
            document.querySelector(".btn-theme-toggle > span").classList.add("fa-sun-bright");
            //var logo = document.querySelector(".desktop-lgo");
            // logo.src = '../img/brand/logo-white.png'
        }

        const btn = document.querySelector(".btn-theme-toggle");
        btn.addEventListener("click", function() {
            if (document.body.classList.contains('light-theme')) {
                document.body.classList.remove('light-mode');
                document.body.classList.add('dark-mode');
                document.querySelector(".btn-theme-toggle > span").classList.remove("fa-moon-stars");
                document.querySelector(".btn-theme-toggle > span").classList.add("fa-sun-bright");
                //var logo = document.querySelector(".desktop-lgo");
                //logo.src = '../img/brand/logo.png';
                var theme = "dark";
            } else if (document.body.classList.contains('dark-theme')) {
                document.body.classList.remove('dark-mode');
                document.body.classList.add('light-mode');
                document.querySelector(".btn-theme-toggle > span").classList.remove("fa-sun-bright");
                document.querySelector(".btn-theme-toggle > span").classList.add("fa-moon-stars");
                //var logo = document.querySelector(".desktop-lgo");
                //logo.src = '../img/brand/logo-white.png';
                var theme = "light";
            } else {
                document.querySelector(".btn-theme-toggle > span").classList.remove("fa-moon-stars");
                document.querySelector(".btn-theme-toggle > span").classList.add("fa-sun-bright");
                document.body.classList.add('dark-mode');
                //var logo = document.querySelector(".desktop-lgo");
                //logo.src = '../img/brand/logo-white.png';
                var theme = "dark";
            }

            document.cookie = "theme=" + theme + ";path=/";

            location.reload();
        });
    </script>


<script src="//code.tidio.co/woupivakgkaaxjvsokfpraku0yfdkzn0.js" async></script>


    <!-- Live Chat -->
    

</body>


</html>